/* Base styles */
html {
    background-color: black;
    color: white;
}

/* Start Nav Styles*/
                /* Add custom styles here */
                nav {
                    background-color: #CCCCCC;
                    /* Gray background */
                    padding: 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-radius: 15px;
                    /* Rounded corners */
                }
        
                nav ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    display: flex;
                    /* Display the list items as flex items */
                    justify-content: flex-start;
                    /* Align items to the left */
                }
        
                nav ul li {
                    display: inline;
                }
        
                nav ul li a {
                    text-decoration: none;
                    color: black;
                    padding: 10px;
                }
        
                nav ul li a:hover {
                    background-color: #DDD;
                    /* Hover background color */
                    border-radius: 5px;
                    /* Rounded corners on hover */
                }
        
                .cart-icon {
                    font-size: 24px;
                    color: black;
                }

.cart-icon {
    font-size: 24px;
    color: black;
}
/*End Nav Styles*/

/* Contact Form Styles */
.contact-form {
    background-color: #CCCCCC;
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.contact-form h2 {
    margin-bottom: 10px;
    width: 100%;
}

.contact-form label {
    font-weight: bold;
    flex: 0 0 100%;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="submit"] {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #999;
    border-radius: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
    margin-bottom: 10px;
}

.contact-form input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 0; /* Remove margin-right for the submit button */
}

