/* Base styles */
html {
    background-color: black;
    color: white;
}

/* Start Nav Styles */
nav {
    background-color: #CCCCCC;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #DDD;
    border-radius: 5px;
}

.cart-icon {
    font-size: 24px;
    color: black;
}

/* End Nav Styles */

.form-inline {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    color: black;
}

.form-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: black;
}

.form-submit {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-submit:hover {
    background-color: #45a049;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Two columns */
    grid-gap: 20px;
    /* Gap between columns */
}

.contact-form {
    grid-column: 1 / span 1;
    /* Span 1 column */
}

.sidebar {
    grid-column: 2 / span 1;
    /* Span 1 column */
    grid-row: 1 / span 2;
    /* Span 2 rows */
    margin-top: 20px;
    padding: 5px;
    background-color: #f0f0f0;
    color: black;
}

.image-container {
    grid-column: 1 / span 1;
    /* Span 1 column */
    grid-row: 2 / span 1;
    /* Span 1 row */
    margin-top: 20px;
    /* Adjust margin as needed */
    border-radius: 10px;
        /* Add rounded corners */
}

.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 10px;
}

.news-item {
    background-color: #008000;
    color: black;
    padding: 10px;
    /* Added padding to news items */
    margin-bottom: 10px;
    /* Added space between news items */
}

.news-title {
    font-weight: bold;
}

.news-date,
.news-author {
    font-size: 0.8em;
    color: #000000;
}