body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: black;
    color: white;
}
body {
    display: flex;
    flex-direction: column;
}
nav {
    flex-shrink: 0; /* This will prevent the nav from shrinking */
}

.main-container {
    flex: 1 0 auto; /* This will make the main container stretch to fill the available space */
}
.product-item .product-image {
    transition: transform 0.3s ease-in-out;
}

.product-item .product-image:hover {
    transform: scale(1.2);
}
.product-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-description {
    margin: 10px 0;
}

.product-details {
    align-self: flex-end;
}

/* Start Nav Styles */
nav {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #CCCCCC;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 15px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #DDD;
    border-radius: 5px;
}

.cart-icon {
    font-size: 24px;
    color: black;
    margin-left: auto;
    position: relative;
}
.cart-link {
    color: black;
}

.cart-link:visited {
    color: black;
}
/* End Nav Styles */

/* Form Styles */
.form-inline {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    color: black;
}

.form-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: black;
}

.form-submit {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-submit:hover {
    background-color: #45a049;
}
/* End Form Styles */

/* Container Styles */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.contact-form {
    grid-column: 1 / span 1;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    margin-top: 20px;
    padding: 5px;
    background-color: #f0f0f0;
    color: black;
}

.image-container {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    margin-top: 20px;
    border-radius: 10px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 10px;
}

.news-item {
    background-color: black;
    font-size: 0.9em;
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    max-width: 80%;
    color: white;
}

.news-title {
    font-weight: bold;
}

.news-date,
.news-author {
    font-size: 0.8em;
    color: white;
}

.image-text-container {
    display: flex;
    align-items: center;
}

.text {
    flex: 1;
    padding: 60px;
    text-align: right;
    color: black;
    background-color: #CCCCCC;
}

.image-container {
    flex: 1;
    margin-bottom: 15px;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .image-text-container {
        flex-direction: column;
    }

    .text,
    .image-container {
        width: 100%;
        text-align: left;
    }
}

.top-img {
    display: flex; 
    justify-content: center; 
    align-items: flex-end;
}

.w-50 {
    width: 50px;
}

.h-50 {
    height: 50px;
}

.w-1000 {
    width: 1000px;
}

.h-1000 {
    height: 1000px;
}
/* End Container Styles */

/* Start Footer Styles */
footer {
    box-sizing: border-box;
    width: 100%;
    background-color: #CCCCCC;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    flex-shrink: 0;
}

footer img, nav img {
    border-radius: 10px;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

footer ul li {
    margin-left: 20px;
}

footer ul li a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

footer ul li a:hover {
    background-color: #DDD;
    border-radius: 5px;
}

.footer-text {
    bottom: 0;
    width: 100%;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 50px;
}
/* End Footer Styles */

/* Main Container Styles */
.main-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
}


#cart-box {
    width: 200px;
    height: 70vh;
    background-color: #DDD;
    padding: 20px;
    padding-top: 30px;
    overflow-y: auto;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

#cart-items div {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    display: flex; /* Make the cart items display in a row */
    justify-content: space-between; /* Space the items evenly */
}

#cart-items div img {
    width: 50px; /* Make the product images smaller */
    height: auto;
    margin-right: 10px; /* Add some space between the image and the text */
}

 .product-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 20px;
}

.product-item {
    border: 1px solid #000000;
    padding: 20px;
    text-align: center;
    background-color: #ccc;
}

.product-item img {
    width: 100%;
    height: auto;
}
.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}
/* End Main Container Styles */
