/*Base Styles and importing google font */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: black;
    color: white;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body {
    display: flex;
    flex-direction: column;
}
/* end of base styles */

/* start of nav styles */
nav {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #CCCCCC;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-grow: 1; /* This will make the ul take up all available space */
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #DDD;
    border-radius: 5px;
}

.cart-icon {
    margin-left: auto; /* This will push the cart icon to the right */
    position: relative;
    color: black; /* Set the color to match your site */
    text-decoration: none; /* Remove underline from links */
}

#cart-items {
    display: none;
    position: absolute;
    right: 0;
    width: 200px;
    background-color: #DDD; /* Set the background color to match your site */
    border: 1px solid #000; /* Set the border to match your site */
    padding: 10px;
    color: black; /* Set the color to match your site */
    text-decoration: none; /* Remove underline from links */
}

.cart-icon:hover #cart-items {
    display: block;
}

.cart-link {
    color: black; /* Set the color to match your site */
    text-decoration: none; /* Remove underline from links */
}

.cart-link:visited {
    color: black; /* Set the color to match your site */
    text-decoration: none; /* Remove underline from links */
}

#cart-items div {
border-bottom: 1px solid #ccc;
padding: 10px 0;
display: flex; /* Make the cart items display in a row */
    justify-content: space-between; /* Space the items evenly */
}
/* End Nav Styles */

/* start of index styles */
/* Form Styles */
.form-inline {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    color: black;
}

.form-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: black;
}

.form-submit {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-submit:hover {
    background-color: #000000;
}
/* End Form Styles */

/* Container Styles */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
/* Contact Form */
.contact-form {
    grid-column: 1 / span 1;
}

/* Sidbar */
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    margin-top: 20px;
    padding: 5px;
    background-color: #f0f0f0;
    color: black;
    border-radius: 10px;
    align-items: stretch; /* Make items stretch to fill the container */
}

.sidebar-item {
    display: block;
    padding: 10px;
    margin-bottom: 15px;
    text-decoration: none;
}

.sidebar-title {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.sidebar-date, .sidebar-author, .sidebar-description {
    margin-bottom: 5px;
}


.news-item {
    background-color: black;
    font-size: 0.9em;
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    max-width: 80%;
    color: white;
    border-radius: 10px;
}

.news-title {
    font-weight: bold;
}

.news-date,
.news-author {
    font-size: 0.8em;
    color: white;
}


/* Images and text */
.image-container {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    margin-top: 20px;
    border-radius: 10px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 10px;
}


.image-text-container {
    display: flex; /* Use Flexbox */
    align-items: stretch; /* Make the items as tall as the tallest one */
    justify-content: space-between; /* Add some space between the items */
    margin: 20px; /* Add some space around the container */
}

.text {
    flex: 1;
    padding: 60px;
    text-align: right;
    color: black;
    background-color: #CCCCCC;
    border-radius: 10px;
}

.image-container {
    margin-right: 20px; /* Add some space on the right */
    margin-bottom: 20px; /* Add some space on the bottom */
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.top-img {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* Bottem Info box grid */
.info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equally wide columns */
    gap: 70px; /* Space between the boxes */
    margin-bottom: 20px; /* Space above the footer */
    margin-left: 20px; /* Space to the left of the boxes */
    margin-right: 20px; /* Space to the right of the boxes */
    color: black;
}

.info-item {
    background-color: #CCCCCC; /* Light gray background */
    padding: 20px; /* Some padding */
    border-radius: 5px; /* Rounded corners */
    text-align: center; /* Center the text */
}

/*end of index styles /*

/* Set with and height for images and other things with the use of w-50 h-50 etc */
.w-50 {
    width: 50px;
}

.h-50 {
    height: 50px;
}

.w-1000 {
    width: 1000px;
}

.h-1000 {
    height: 1000px;
}
/* end of width hight */

/* start of underconstruction styles */
.back-button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #CCCCCC;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.styled-list {
    list-style-type: none; /* Remove bullet points */
    background: #CCCCCC;
}

.styled-list li {
    margin-bottom: 10px; /* Add space between items */
}
/* end of underconstruction styles */

/*Start of shop styles */

.product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    padding: 5px;
}

.product-item {
    border: 1px solid #000000;
    padding: 20px;
    text-align: center;
    background-color: #ccc;
}

.product-item img {
    width: 100%;
    height: auto;

}
.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}
.product-image {
    width: 100%; /* This will make the image take the full width of its container */
    max-width: 300px; /* This will limit the maximum width of the image */
    height: auto; /* This will maintain the aspect ratio of the image */
}

.add-to-cart {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.add-to-cart:hover {
    background-color: #555; /* Darker shade when mouse hovers over the button */
}

.main-container {
    flex: 1 0 auto; /* This will make the main container stretch to fill the available space */
}
.product-item .product-image {
    transition: transform 0.3s ease-in-out;

}
.product-item .product-image {
    width: 100%;
    max-width: 100px !important; /* Adjust this value to your preference */
    height: auto;
    margin: 0 auto; /* This will center the image */
    
}

.product-item .product-image:hover {
    transform: scale(1.2);
}
.product-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;

}

.product-description {
    margin: 10px 0;
}

.product-details {
    align-self: flex-end;
}

/* End of shop Styles */

/* Start of news items */
.post-button, .news-link {
    display: flex;
    flex: 1 1 auto; /* Grow and shrink equally, base size is auto */
    text-decoration: none;
    color: inherit;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.post-button:hover, .news-link:hover {
    background-color: #555; /* Darker shade when mouse hovers over the button */
    text-decoration: none;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
}

/* End of news styles */
/* Start Footer Styles */
footer {
    box-sizing: border-box;
    width: 100%;
    background-color: #CCCCCC;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    flex-shrink: 0;
}

footer img, nav img {
    border-radius: 10px;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

footer ul li {
    margin-left: 20px;
}

footer ul li a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

footer ul li a:hover {
    background-color: #DDD;
    border-radius: 5px;
}

.footer-text {
    bottom: 0;
    width: 100%;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 50px;
}
#footer {
    margin-top: auto;
}
/* End Footer Styles */