    <link rel="stylesheet" href="../css/base.css" />
    <!-- Navigation bar -->
    <nav>
        <!-- Company logo -->
        <img src="https://serv.malteowinery.xyz/logo/defualt.png" alt="Company Logo" class="w-50 h-50">
        
        <!-- Navigation links -->
        <ul>
            <li><a href="./">Home</a></li>
            <li><a href="./pages/underconstruction.html">Gallery</a></li>
            <li><a href="./pages/store.html">Shop</a></li>
        </ul>
        
        <!-- Shopping cart icon -->
        <a href="./pages/underconstruction.html" class="cart-icon"><i class="fas fa-shopping-cart"></i></a>
    </nav>